@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EEZBankServer.Models.UserAccountInfos

@using(Html.BeginForm("Index","Account",
new {Id = Model.UserId},FormMethod.Post,true,new {@class="secure-form"}))
{
@Html.LabelFor(x => x.UserEmail, new { @class = "form-label" })
@Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control",placeholder ="e-postanızı giriniz"})
<br />
@Html.LabelFor(x => x.UserPassword, new { @class = "form-label" })
@Html.TextBoxFor(x => x.UserPassword, new { @class = "form-control", placeholder = "parolanızı giriniz" , type = "password"})
<br />
@Html.LabelFor(x => x.UserPasswordAgain, new { @class = "form-label" })
@Html.TextBoxFor(x => x.UserPasswordAgain, new { @class = "form-control", placeholder = "parolanızı tekrar giriniz", type="password" })
<br />
<button type="submit" class="btn btn-primary">Giriş Yap</button>
}